$width: 14em;
$height: 14em;

// resolucion para sitio responsive//
@media only screen and (min-width:1024px) and (max-width:1155px) {
    .producto1, .producto2 {
        h3 {
            line-height:2em
        }
    }

    .footer__horarios {
        span, li {
            font-size: 1rem;
            padding-bottom:2em;
            width: 200px;
        }
    }

    .footer__menuSecundario {
        font-size: 1.2em;
        list-style:none;
        padding-bottom: 1em;
        padding-left: 8em;
        padding-right: 3em;
    }

    .footer__redesSociales {
        list-style:none;
        display:inline;
        padding-left: 9em;
        img {
            width: 35px;
        }
    }

    .footer__newsletter {
        padding-left: 7em;
        p{
            font-size:1.3rem;
        }
    }

    .main__nosotros {
        p {
            font-size:1.1rem;
            text-align:justify;
            line-height: 1.3rem;
        }
    }
}

@media only screen and (min-width:1019px) and (max-width:1023px) {
    .header__navMenu {
        li {
            font-size: 3vh;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.91rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
    }

    .footer__newsletter {
        padding-left: 2.5em;
    }

    .producto1, .producto2 {
        img {
            width: 19em;
        }
        h3 {
            line-height: 1.75em;
        }
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:1rem;
            text-align:justify;
            line-height: 1.4rem;
        }
    }
}

@media only screen and (min-width:799px) and (max-width:1018px) {
    .header__navMenu {
        li {
            font-size: 2.3vh;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.91rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
    }

    .footer__newsletter {
        padding-left: 2.5em;
    }

    .producto1, .producto2 {
        img {
            width: 19em;
        }
        h3 {
            line-height: 1.75em;
        }
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:1rem;
            text-align:justify;
            line-height: 1.2rem;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:798px) {
    .header__navMenu {
        li {
            font-size: 2.3vh;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.91rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
    }

    .footer__newsletter {
        padding-left: 2.5em;
    }

    .producto1, .producto2 {
        img {
            width: 19em;
        }
        h3 {
            line-height: 1.75em;
        }
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.9rem;
            text-align:justify;
            line-height: 1.2rem;
        }
    }
}

@media only screen and (min-width:680px) and (max-width:767px) {
    .header__navMenu {
        li {
            font-size: 1.9vh;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.91rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
    }

    .footer__newsletter {
        padding-left: 2.5em;
    }

    .producto1, .producto2 {
        img {
            width: 19em;
        }
        h3 {
            font-size: 1.7rem;
            line-height: 1.2em;
            letter-spacing: 1px;
        }
        p {
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }

    .producto1__text, .producto2__text {
        padding-top: 1em;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 3em;
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.95rem;
            text-align:justify;
            line-height: 1rem;
        }
    }

    .main__nosotrosContenido {
        img {
            width: $width*0.64;
            height: $height*0.64;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 240px;
        }
    }
}

@media only screen and (min-width:575px) and (max-width:679px) {
    .header__navMenu {
        li {
            font-size: 1.7vh;
            overflow: hidden;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
    }

    .footer__newsletter {
        padding-left: 2.5em;
        form {
            input {
                width: 110px;
            }
            button {
                width: 4em;
            }
        }
    }

    .hero {
        h1 {
            font-size: 2.5rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 19em;
        }
        h3 {
            font-size: 1.7rem;
            line-height: 1.2em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.9rem;
            line-height: 1.2rem;
        }
    }

    .producto1__text, .producto2__text {
        padding-top: 1em;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 2.2em;
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.8rem;
            text-align:justify;
            line-height: 1rem;
        }
    }

    .main__nosotrosContenido {
        img {
            width: $width*0.64;
            height: $height*0.64;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 240px;
        }
    }
}

@media only screen and (min-width:500px) and (max-width:574px) {
    .header__navMenu {
        li {
            font-size: 1.7vh;
            overflow: hidden;
        }
    }

    .footer__subcontenido {
        img {
            display: none;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }

    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 3em;
        li {
            img {
                width: 19px;
            }
        }
    }

    .footer__newsletter {
        padding-left: 2em;
        form {
            input {
                width: 110px;
            }
            button {
                width: 4em;
            }
        }
    }

    .hero {
        h1 {
            font-size: 1.6rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 15em;
        }
        h3 {
            font-size: 1.4rem;
            line-height: 1.2em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }
    }

    .producto1__text, .producto2__text {
        padding-top: 1em;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 2em;
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.7rem;
            text-align:justify;
            line-height: 0.95rem;
        }
    }

    .main__nosotrosContenido {
        img {
            width: $width*0.57;
            height: $height*0.57;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 240px;
        }
    }

    .main__contactoFormulario {
        width: 86%;
    }
}

@media only screen and (min-width:450px) and (max-width:499px) {
    .header__buscador {
        input {
            width: 16em;
        }
    }

    .header__navMenu {
        li {
            overflow: hidden;
        }
    }
    
    .footer__subcontenido {
        img {
            display: none;
        }
    }

    .footer__horarios {
        padding-left: 2em;
        padding-right: 1.5em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 3em;
        padding-right: 4em;
    }
    
    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 3em;
        li {
            img {
                width: 19px;
            }
        }
    }

    .footer__newsletter {
        padding-left: 1em;
        form {
            input {
                width: 100px;
            }
            button {
                width: 4em;
            }
        }
    }

    .hero {
        h1 {
            font-size: 1.6rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 15em;
        }
        h3 {
            font-size: 1.4rem;
            line-height: 1.2em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }

    .producto1__text {
        padding-top: 1em;
        padding-left: 25px;
    }

    .producto2__text {
        padding-top: 1em;
        padding-right: 25px;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 2em;
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.64rem;
            text-align:justify;
            line-height: 1rem;
        }
    }

    .main__nosotrosContenido {
        img {
            width: $width*0.5;
            height: $height*0.5;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 200px;
        }
    }

    .main__contactoFormulario {
        width: 91%;
    }
}

@media only screen and (min-width:400px) and (max-width:449px) {
    .header__buscador {
        input {
            width: 14em;
        }
    }

    .header__navMenu {
        font-size: 1rem;
        li {
            overflow: hidden;
        }
    }
    
    .footer__subcontenido {
        img {
            display: none;
        }
    }

    .footer__horarios {
        padding-left: 0.7em;
        padding-right: 1em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2.5em;
    }
    
    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 2em;
        li {
            img {
                width: 19px;
            }
        }
    }

    .footer__newsletter {
        padding-left: 1em;
        form {
            input {
                width: 100px;
            }
            button {
                width: 4em;
            }
        }
    }

    .hero {
        h1 {
            font-size: 1.4rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 14em;
        }
        h3 {
            font-size: 1.1rem;
            line-height: 1.1em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }

    .producto1__text {
        padding-top: 1em;
        padding-left: 25px;
    }

    .producto2__text {
        padding-top: 1em;
        padding-right: 25px;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 2em;
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.55rem;
            text-align:justify;
            line-height: 1rem;
        }
    }

    .main__nosotrosContenido {
        img {
            width: $width*0.5;
            height: $height*0.5;
        }
    }

    .main__contactoSub {
        h1 {
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }

    .main__contactoInfo {
        ul {
            font-size: 1.2rem;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 180px;
        }
    }

    .main__contactoFormulario {
        font-size: 0.9rem;
        width: 100%;
        textarea {
            width: 90%;
        }
    }
}

@media only screen and (min-width:350px) and (max-width:399px) {

    .header__buscador {
        input {
            width: 11em;
        }
    }

    .header__navMenu {
        font-size: 0.7rem;
        word-spacing: 15px;
        li {
            overflow: hidden;
        }
    }
    
    .footer__subcontenido {
        img {
            display: none;
        }
    }

    .footer__horarios {
        padding-left: 0.7em;
        padding-right: 1em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 1.5em;
        li {
            img {
                width: 19px;
            }
        }
    }

    .footer__newsletter {
        padding-left: 1em;
        form {
            input {
                width: 100px;
            }
            button {
                width: 4em;
            }
        }
    }

    .footer__copyright {
        font-size:0.6rem;
    }

    .hero {
        h1 {
            font-size: 1.1rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 12em;
        }
        h3 {
            font-size: 1.1rem;
            line-height: 1.1em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.8rem;
            line-height: 1rem;
        }
    }

    .producto1__text {
        padding-top: 1em;
        padding-left: 15px;
    }

    .producto2__text {
        padding-top: 1em;
        padding-right: 15px;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 1.5em;
    }

    .fotos__galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 300px;
            height: 300px;
        }
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.7rem;
            text-align:justify;
            line-height: 1.2rem;
        }
    }

    .main__nosotrosContenido {
        grid-template-columns: 3fr;
        grid-template-areas: "main__nosotrosText";
        img {
            display: none;
        }
    }

    .main__contactoSub {
        h1 {
            font-size: 1.5rem;
        }
        h2 {
            font-size: 1.4rem;
        }
    }

    .main__contactoInfo {
        ul {
            font-size: 1.1rem;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 150px;
        }
    }

    .main__contactoFormulario {
        font-size: 0.9rem;
        width: 100%;
        textarea {
            width: 90%;
        }
    }
}

@media only screen and (min-width:300px) and (max-width:349px) {

    .header__buscador {
        form {
            display: none;
        }
    }

    .header__navMenu {
        font-size: 0.7rem;
        word-spacing: 10px;
        li {
            overflow: hidden;
        }
    }
    
    .footer__subcontenido {
        img {
            display: none;
        }
    }

    .footer__horarios {
        padding-left: 0.7em;
        padding-right: 0.7em;
        padding-bottom: 2em;
        span, li {
            font-size: 0.8rem;
        }
    }

    .footer__menuSecundario {
        list-style:none;
        padding-bottom: 1.5em;
        padding-left: 0.7em;
        padding-right: 1em;
        font-size: 0.8rem;
    }
    
    .footer__redesSociales {
        list-style:none;
        display: inline;
        padding-left: 0.7em;
        li {
            img {
                width: 16px;
            }
        }
    }

    .footer__newsletter {
        padding-left: 0.7em;
        p {
            font-size: 0.9rem;
        }
        form {
            input {
                width: 80px;
            }
            button {
                width: 3em;
            }
        }
    }

    .footer__copyright {
        font-size:0.6rem;
    }

    .hero {
        h1 {
            font-size: 0.7rem;
        }
    }

    .producto1, .producto2 {
        img {
            width: 8em;
        }
        h3 {
            font-size: 1rem;
            line-height: 1.1em;
            letter-spacing: 1px;
        }
        p {
            font-size: 0.9rem;
            line-height: 1rem;
        }
    }

    .producto1__text {
        padding-top: 1em;
        padding-left: 15px;
    }

    .producto2__text {
        padding-top: 1em;
        padding-right: 15px;
    }

    .enlaceVerMas {
        font-size: 1rem;
        line-height: 1.5em;
    }

    .main__productosContenido {
        img {
            width: 270px;
            height: 200px;
        }
        p{
            width: 270px;
        }
    }

    .fotos__galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 250px;
            height: 250px;
        }
    }

    .main__nosotros {
        p {
            color: #000000;
            font-family:"roboto", sans-serif;
            font-size:0.6rem;
            text-align:justify;
            line-height: 1.2rem;
        }
    }

    .main__nosotrosContenido {
        grid-template-columns: 3fr;
        grid-template-areas: "main__nosotrosText";
        img {
            display: none;
        }
    }

    .main__contactoSub {
        h1 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        h2 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .main__contactoInfo {
        ul {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .main__contactoMapa {
        iframe {
            width: 150px;
            height: 250px;
        }
    }

    .main__contactoFormulario {
        font-size: 0.9rem;
        width: 100%;
        textarea {
            width: 90%;
        }
    }
}